{% extends '@!PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="card login" id="knytify">
        <div class="card-body card-block">

            <p class="card-title">
                <img src="/modules/knytify/logo.png"/>
            </p>

			<p class="card-title">
				Configuration
			</p>

            <p>
                Api Key: <span>{{api_key}}</span><br/>
                <a href="{{getting_started_link}}">Update credentials</a>.
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



