{% extends '@!PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="card">
        Registration
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



