/**
 * Page configuration
 *
 */


#knytify form {
    text-align: right;
}

#knytify .card-title {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

#knytify.getting-started .options {
    text-align: center;
}

#knytify.getting-started .options>.option {
    border-radius: 5px;
    background: #fff;
}

#knytify.getting-started .options .option {
    border: 2px solid transparent;
    /*Prevents changing size on hover*/
}

#knytify.getting-started .options>.option>a {
    display: block;
    line-height: 120px;
    font-size: 20px;
}

#knytify.getting-started .options .option:hover {
    text-decoration: none;
    border: 2px solid #53EB3F;
    background: #eafbe7;
}

#knytify .btn-holder {
    display: block;
    text-align: right;
}

#knytify .knyt-btn {
    color: #000;
    background: #fff;
    padding: 4px 6px;
    border: 2px solid #a9a9a9;
    border-radius: 4px;
}

#knytify .knyt-btn:hover {
    text-decoration: none;
    border: 2px solid #53EB3F;
}


/**
 * Page stats
 *
 */
/* #knytify.knytify-stats svg {
    display: block;
}

#knytify.knytify-stats #chart {
    width: 600px;
    height: 400px;
} */
#knytify.knytify-stats .chart-container-utm {
    height: 400px;
    width: 600px;
}